In [1]:
a=10
print(a)

10

In [6]:
#if___ :___ else
if a < 0:
    print(a,"is cool")

In [7]:
if a > 0:
    print(a,"is cool")

10 is cool

In [12]:
a = 45 
if a > 0:
    print(a,"is not cool")
else:
    print(a,"is cool")

45 is not cool

a = 0 
if a < 0:
    print(a,"is not cool")
elif a == 0:
    print(a,"is really cool")
else:
    print(a,"is cool")

In [16]:
a = 15
b = 10
if a > b:
    print("a is greatter than b")
    if a - b > 5:
        print(" the difference between a and b is greatter than 5 ")
    else:
         print(" the difference between a and b is 5 or least")
else:
    print("a nest pas plus grand que b")

a is greatter than b
 the difference between a and b is 5 or least

In [17]:
# boucle for
for char in 'htsjc':
    print(char)

h
t
s
j
c

In [24]:
for char in ['htsjc','gsjy','gxjydt']:
    print(char)
    print(char[-1])

htsjc
c
gsjy
y
gxjydt
t

In [ ]:
cher = 1 
while cher < 7:
    print(cher**2)
    cher+=1

In [27]:
cher = 1 
while cher < 7:
    print(cher**2)
    print("===================")
    cher += 1

1
===================
4
===================
9
===================
16
===================
25
===================
36
===================

In [29]:
even = []
list_number = [6,7,9,0,4,3,3,4,1,9,5]
for i in list_number:
    if i%2 == 0:
        even.append(i)

even

[6, 0, 4, 4]

In [41]:
#odd = []
sum_odd = 0
list_number = [6,7,9,0,4,3,3,4,1,9,5]
for i in list_number:
    if i%2 != 0:
        sum_odd += i
        #odd.append(i)
#for j in odd:
    #sum_odd += j 
#print(f'the listb of odd numbers is {odd}')
print(f'the sum of odd number is {sum_odd}')

the sum of odd number is 37

In [42]:
# Boucle « for.. in... » sur une chaine de caractères
listch = "Hello world"
for i in listch :
    print ( i )

H
e
l
l
o

w
o
r
l
d

In [43]:
# Combining a `for...in...` Loop with an `if` Clause
mych = "Hello World"
les_voyel = "AEIOUYaeiouy"
for lettre in mych :
    if lettre in les_voyel :
        print ('La lettre', lettre, 'est une voyelle')
    else :
        print ('La lettre', lettre, 'est une consonne')

La lettre H est une consonne
La lettre e est une voyelle
La lettre l est une consonne
La lettre l est une consonne
La lettre o est une voyelle
La lettre   est une consonne
La lettre W est une consonne
La lettre o est une voyelle
La lettre r est une consonne
La lettre l est une consonne
La lettre d est une consonne

In [46]:
fruits = ['mangue', 'orange', 'pomme', 'banane']
costs = [49, 99, 15, 32]
for fruit, price in zip(fruits, costs):
    print("A", fruit, "costs", price, "Rwandan francs.")

A mangue costs 49 Rwandan francs.
A orange costs 99 Rwandan francs.
A pomme costs 15 Rwandan francs.
A banane costs 32 Rwandan francs.

[4, 16, 36, 64, 100]

# List comprehension

In [48]:
squares = [x**2 for x in range(1, 11) if x % 2 == 0]
print(squares)

[4, 16, 36, 64, 100]

In [ ]:
liste = [2, 4, 6, 8, 10]

print([3*x for x in liste])
print("================================================")
print('\t')

print([[x, x**3] for x in liste])
print("================================================")
print('\t')

print([3*x for x in liste if x > 5])  # filtering with a condition
print("================================================")
print('\t')

print([3*x for x in liste if x**2 < 50])  # same as above
print("================================================")
print('\t')

liste2 = list(range(3))
print([x*y for x in liste for y in liste2])
# il prend un element de list puis le multipli a tous les ement de list2 ainsi de suit
liste2
# print('\t') cest espace entr les ligne

# la commande break

In [51]:
for i in range(5):
    if i > 2:
        break
print(i)

3

In [65]:
for i in range(1,17,2):
    if i%3 == 0:
        print(i)
        break

3

In [67]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4