# Practical_3: Iterable objects or Containers


---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85
```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

# Answer step by step

In [7]:
liste = []
for i in range(1,10):
    liste.append(i)
liste

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
tuples = ("apple", "banana", "cherry")
tuples

('apple', 'banana', 'cherry')

In [14]:
numbers = [10, 20, 30, 40] 
tuple(numbers)

(10, 20, 30, 40)

In [17]:
A = {1, 2, 3, 4, 5}
A
type(A)

set

In [52]:
student={'name': "Alice", 'age': 20, 'grade': "A"}
student.values()
student.keys()

dict_keys(['name', 'age', 'grade'])

In [21]:
[10, 20, 30, 40, 50][1]

20

In [22]:
fruits = ["apple", "banana", "cherry", "orange"] 
fruits[-1] = "mango"
fruits

['apple', 'banana', 'cherry', 'mango']

In [26]:
numbers = {1, 2, 3, 4, 5}
numbers.update([6])
print(numbers)

{1, 2, 3, 4, 5, 6}

In [35]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)
del person["age"]
# person.pop("age") qui garde la valeur
person

{'name': 'John', 'age': 25, 'city': 'New York'}

{'name': 'John', 'city': 'New York'}

In [34]:
# avec pop
person = {"name": "John", "age": 25, "city": "New York"}
age = person.pop("age")
print(person)
print('\t')
print(age)

{'name': 'John', 'city': 'New York'}

25

In [50]:
B = set(range(0,9))
K = tuple(range(0,9))
L = [i for i in range(0, 9)]
print(B, '\t', K,'\t', L )
print('\t')
print(B, '\n', K,'\n', L )

{0, 1, 2, 3, 4, 5, 6, 7, 8} 	 (0, 1, 2, 3, 4, 5, 6, 7, 8) 	 [0, 1, 2, 3, 4, 5, 6, 7, 8]

{0, 1, 2, 3, 4, 5, 6, 7, 8}
 (0, 1, 2, 3, 4, 5, 6, 7, 8)
 [0, 1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
square(9)

NameError: name 'square' is not defined

In [56]:
list_com =[] 
for i in range(1,11):
    if type( math.sqrt(i)==int:
        list_com.append(i)

SyntaxError: invalid syntax (1185253777.py, line 3)

In [57]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [61]:
even_number = tuple(x for x in range(2, 11, 2))
print(even_number)

(2, 4, 6, 8, 10)

In [62]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [65]:
numbers = {1, 2, 3, 4, 5}
if 3 in numbers:
    print(3)

3

In [66]:
numbers = (10, 20, 30)
len(numbers)

3

In [67]:
scores = [80, 85, 90, 95]
scores.append(100)

In [69]:
#EXERCICE 17

In [74]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set_numbers = {numbers[0]}

In [78]:
liste=[x for x in "hello"]
liste

['h', 'e', 'l', 'l', 'o']

In [86]:
tupl1=(1, 2, 3, 4)
tupl2 = (reversed(tupl1))
tupl2

In [87]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

merged = dict1 | dict2
print(merged)

{'a': 1, 'b': 3, 'c': 4}

In [56]:
dict1 = { str(x):x**2 for x in range(1,6)}
dict1

{'1': 1, '2': 4, '3': 9, '4': 16, '5': 25}

In [98]:
#EXERCIC 23

In [ ]:
letter = [chr(x) for x in "ABCDE"]
print(letter)

In [103]:
#tubl=(zip([1, 2, 3] , ["a", "b", "c"]))
#faux

In [105]:
#EXERCICE 26
list3 = [10, 20, 30, 40, 50]
for i in range(0,len(list3)):
    if list3[i]==50:
        print(i)

4

In [10]:
#EXERCICE 27
names = ["Alice", "Charlie","Bob", "David"]
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

In [18]:
#EXERCICE 28
def f(x):
    list1= [3,5,6,9,20,5]
    return max(list1)
    
f(list1)

20

In [25]:
#EXERCICE 29
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

In [32]:
#EXERCICE 30
key_person = [ "name"   , "age",  "city"]
values_person = [ "Alice",  25,  "New York" ]
person = dict(zip(key_person,  values_person) )
person

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [48]:
#EXERCICE 31
Q = [3,3,4,5,66,66,8,8,0,2]
def remov_duplicat(x):
    for (x in Q and i in range(0,len(Q)))
        if Q.count(x) > 1:
            del(Q[i])
remov_duplicat(Q)
Q
#faux

SyntaxError: cannot assign to expression (3700098521.py, line 4)

In [47]:
#EXERCICE 32

In [59]:
#EXERCICE 34
dict1 = { str(x):x**2 for x in range(1,6)}
def sum_dict_value1(x):
    return sum(x.values)
sum_dict_value(dict1)
#false

TypeError: 'builtin_function_or_method' object is not iterable

In [60]:
#EXERCICE 35
numbers = [3, 1, 4, 1, 5, 9]
sorted_numbers = sorted(numbers)
print(sorted_numbers)

[1, 1, 3, 4, 5, 9]

In [69]:
#EXERCICE 36
fruits = ["apple", "bananas", "ananasses","apple", "orange"]
def longer_ster(x):
    (x,y)= (len(fruits[0]),fruits[0])
    for i in range(1,len(fruits)):        
        if   x < len(fruits[i]):
            (x,y) = (len(fruits[i]),fruits[i])
            print(y, "est le plus long avec ", x, "lettres ")

    return (x,y)

longer_ster(fruits)  
#a revoir

bananas est le plus long avec  7 lettres
ananasses est le plus long avec  9 lettres
ananasses est le plus long avec  9 lettres
ananasses est le plus long avec  9 lettres

(9, 'ananasses')

In [72]:
#EXERCICE 37
list5 = [1, 2, 3, 4, 5]
all(list5)> 0

True

In [85]:
#EXERCICE 38
x=(1,2,3,4,5)
y=( (x(i))**2 for i in range(0,len(x)))
K = [ x, y ]
K

[(1, 2, 3, 4, 5), <generator object <genexpr> at 0x7ffaaf8cde50>]

In [ ]:
#EXERCICE 39

<generator object <genexpr> at 0x7ffaaf848790>

In [86]:
#Exercise 40

In [91]:
#Exercise 40
T = ["apple", "banana", "cherry"]
enumerate(T)

In [88]:
#Exercise 40

In [89]:
#Exercise 40

In [33]:
# 50 a 60

In [34]:
#54
list1 = [1, 2, 3, 4, 9, 6]
list2 = [8,9, 3, 4, 5, 6,0]
list3 = [3,4,0,6,7]
list4=[]
for i in range(0,len(list1)):
    if (list1[i]==list2[i] ):
        print(list1[i])
        list4.append(list[i])
print("=================")
for j in range(0,len(list3)):
    if (list3[j]==list4[j] ):
        print(list3[j])

3
4
6
=================

IndexError: list index out of range

In [93]:
#EXERCICE 56
def fact(n):
    if n<=1:  
        return 1
    return n*fact(n-1)
fact(4)

24

In [135]:
H=["apple", "", "banana", "", "cherry"]
for i in range(0, len(H)):
    while H[i]
#56 incomplet

SyntaxError: expected ':' (231388617.py, line 3)

In [139]:
# Exercise 58

TypeError: 'range' object is not callable

In [146]:
A = [1,2,3,4,7,8,9]
som=0
for i in range(0,len(A)):
    som = som+A[i] 
som/len(A)
# voila la moyenne, average
#62

4.857142857142857